<!DOCTYPE html>
<html>
<head>
    <script src="/assets/app.js" defer type="text/javascript"></script>
    <link rel="stylesheet" href="/assets/app.css" type="text/css" />
    <title>Date Range Summary</title>
</head>
<body>
    <h1>Date Range Summary</h1>
    <p> Note to peer reviewer: For reviewing purpose, please enter a time window that encompasses this time window: From 10/17/2023 04:00 PM To 10/17/2023 06:00 PM, you will receive a report.</p>
    <p> With respect to time, your entry needs to be on the hour or on the half hour. For example, acceptable entries are 10:00, 14:30, 09:00, 16:30, etc. Entries like 10:15, 14:45, or 09:10 are not allowed.</p>
    <form method="POST" action="/summary" id="filter" name="filter">
        <label for="from_datetime"><u>F</u>rom Time:</label>
        <input
                type="datetime-local"
                name="from_datetime"
                id="from_datetime"
                accesskey="f"
                step="1800"
        />
        <label for="to_datetime"><u>T</u>o Time:</label>
        <input
                type="datetime-local"
                name="to_datetime"
                id="to_datetime"
                required
                accesskey="t"
                step="1800"
        />
        <button type="submit" accesskey="s"><u>S</u>ubmit</button>
    </form>

    <div id="reports">
        <template class="report">
            <h2>Report</h2>
            <dl>
                <dt>From Time</dt>
                <dd data-text="from_dt"></dd>
                <dt>To Time</dt>
                <dd data-text="to_dt"></dd>
                <dt>State</dt>
                <dd data-text="state"></dd>
                <dt data-show="mean_values">Mean Value</dt>
                <dd data-show="mean_values" data-text="mean_values"></dd>
                <dt data-show="mean_values">Median Value</dt>
                <dd data-show="mean_values" data-text="median_values"></dd>
                <dt data-show="variance_values">Variance Value</dt>
                <dd data-show="variance_values" data-text="variance_values"></dd>
                <dt data-show="std_deviation_values">Standard Deviation Value</dt>
                <dd data-show="std_deviation_values" data-text="std_deviation_values"></dd>
            </dl>
        </template>
        <!-- Reports will be displayed here -->
    </div>

    <div id="summary">
        <!-- Summary statistics will be displayed here -->
    </div>

</body>
</html>
